*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    
    background-color: rgb(49, 208, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info div{
    padding: 3rem;
    background:black;
    margin: 0.5rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;

}